<h3>Select a game to join</h3>

<!-- <div ng-repeat="gamesavaialable"></div>  need a list of games to play-->

<div class="row">
	<div class="col-md-5">
		<p>Creator</p>

		<p>People Playing</p>
	</div>

	
	<div class="col-md-5">
		<p>Show the List Here</p>

		
		<div ng-repeat='gameQuestion in gameQuestions'>{{gameQuestion}}</div>
	</div>


</div>
Letter for the game
	<button ng-click="generateLetter()">Generate Letter</button>
	{{displayLetter}}
<button ng-show="ifCreator" ng-click="startGame()">Start Game</button>