<div>
	<h2 class="col-md-12">Create New Game</h2>
	
	<div class="row">
		<!-- Create Game Tools -->
		<div class="col-md-4">
			<input ng-model="game.gameTitle" placeholder="Game title"></input>

			
			<!-- <form role="form">
				<select ng-model="selectedList" ng-options="list as list.name for list in lists" class="form-control">
					<option>{{list.name}}</option>
					
				</select>
			</form> -->

			<p>Choose a game list</p>
			<li><button ng-click="showList13=true; showList14=false">List 13</button></li>
			<li><button ng-click="showList14=true; showList13=false">List 14</button></li>

			<button ng-click="moveToJoinGame(); $scope.createGameToJoin(game.gameTitle)">Ready for Players</button> 
		</div>


		<!-- divider -->
		<div class="col-md-2"></div>




		<!-- Show Game List Selected -->
		{{gameTitle}}
		<div ng-show="showList13" class="col-md-4">
			{{gameTitle}}
			<div  ng-repeat='gameQuestion in gameQuestions13'> {{gameQuestion.$value}} </div>
		</div>

		<div ng-show="showList14" class="col-md-4">
			<div  ng-repeat='gameQuestion in gameQuestions14'> {{gameQuestion.$value}} </div>
		</div>

</div>