<div class='.container'>
	
	<div class="row">
		<div class='col-xs-6 col-md-2 user-info text-left'>
			<h2>Player</h2>
			<strong>{{userName}}</strong><br>
			<img src={{userImage}}>
			<br><a>Logout</a>
			<p></p>
		</div>

	
		
	
		<!-- Create Game Tools -->
		<div class="col-xs-12 col-md-6  create-new-game">
			<h2>Create New Game</h2>
			<form>
				<input class='create-game-input'ng-model="gameTitle" placeholder="Game title"></input> 
				<input class='create-game-input' ng-show="passwordInput" placeholder="Add a password" ng-model="password"></input>
				<button class='add-game-button'ng-click='addToGameArray()'>Create Game</button>
				<button class='add-game-button' ng-click="passwordInputShow()">Add Password</button>

			</form>
		</div>
			<div class="col-md-4 games-available">
				<h2>Games List</h2>
				<div ng-repeat='game in games'>
					<a href='/#/game/{{game.gameName}}'><h4>{{game.gameName}}</h4></a> 
				</div>
			</div>
		</div>
			


		<!-- divider -->
		
		
		




		

</div>