<link rel="stylesheet" href="views/player/playerstyles.css">
<div class="row">
	<div class="col-md-6">
		<p>Hello {{userName}} </p>
		<img src={{userImage}}>
		
		
		
		

		<div>
				
				

    	<div class='col-md-6'>
    		<input type='text' ng-model="answers.a"></input>
    		<input type='text' ng-model="answers.b"></input>
    		<input type='text' ng-model="answers.c"></input>
    		<input type='text' ng-model="answers.d"></input>
    		<input type='text' ng-model="answers.e"></input>
    		<input type='text' ng-model="answers.f"></input>
    		<input type='text' ng-model="answers.g"></input>
    		<input type='text' ng-model="answers.h"></input>
    		<input type='text' ng-model="answers.i"></input>
    		<input type='text' ng-model="answers.j"></input>
    		<input type='text' ng-model="answers.k"></input>
    		<input type='text' ng-model="answers.l"></input>

    	</div>
		<div  ng-repeat='gameQuestion in gameQuestions'> {{gameQuestion.$value}}
					
					
		</div>
				<!-- player/game/playerid/gameid- save to player id for that game id -->
		
		</div>
	</div>

	<div class="col-md-2"></div>

	<div class='col-md-4'>

		<timer interval="1000" countdown="120">{{countdown}}</timer>
		<p>Answers</p>

	
        
        <button ng-click="submitPlayerAnswers()">Submit Answers</button>
   
    	


    	


	</div>
</div>